@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&family=Julius+Sans+One&display=swap');
/*
font-family: 'Jaldi', sans-serif;
font-family: 'Julius Sans One', sans-serif;
*/

body {
	margin: 0;
	padding: 0;
	background-image: url('../images/llac.jpg');
	background-size: cover;
	background-position: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
	margin: 10% auto;
	width: 360px;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 50px;
	border-radius: 20px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	text-align: center;
}

.login-container h1 {
	margin-bottom: 40px;
	color: #333;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	display: block;
	margin-bottom: 10px;
	color: #333;
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
}

.button {
	background-color: #426DA1;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	width: 150px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.button:hover {
	background-color: #3e8e41;
}

a {
	color: #666;
}

a:hover {
	color: #333;
}
.logo p {
    width: 281px;
    height: 21px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5em;
}

/*----------------------------------------Header----------------------------------------*/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	background-color: #426DA1;
  }
  .logo{
	display: flex;
	justify-content: space-around;
	align-items: center;
  }
  .logo img {
	max-height: 100px;
	margin-left: 50px;
  }
  .logo p{
	width: 281px;
	height: 21px;
	margin-left: 20px;
	color: white;
	text-decoration: none;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 1.5em;
  }
  .logo a{
	text-decoration: none;
  }
  
  nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	margin-right: 50px;
  }
  
  nav li {
	list-style: none;
	margin-left: 20px;
  }
  
  nav a {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	transition: all 0.2s ease;
	padding: 0px 10px;
  }
  
  nav a:hover {
	color: #AFE3DE;
  }


  /*Footer*/
  footer{
	width: 100%;
	display: flex;
	background-color: #426DA1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
  }
  footer a{
	color: white;
  }
  
  .footer{
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
  }
  .redes p{
	color: white;
  }
  
  .politica{
	display: flex;
	flex-direction: column;
	text-align: center;
  }
  .politica a{
	padding: 5px;
  }
  
  .allright{
	text-align: center;
  }
  .logo i{
	font-size: 2.3em;
	margin: 5px 10px 5px 0px;
	color: white;
	transition: 0.5s all;
  }
  .allright p{
	color: white;
  }
  .logo i:hover{
	color: black;
  }

  @media only screen and (max-width: 1400px) {
	header {
	  flex-direction: column;
	}
  }
	
  
  @media only screen and (max-width: 1040px) {
	nav{
	  margin-top: 20px;
	}
  
	.container{
	  flex-direction: column;
	  align-items: center;
	}
	.contactinfo{
	  width: 80%;
	}
	#formulari{
	  width: 80%;
	}
	.contactform h1{
	  margin-left: 0px;
	}
	.containerText{
	  display: flex;
	  justify-content: center;
	}
	.inici{
	  width: 80%;
	}
	.nomEmpresa{
	  width: 100%;
	}
	.nomEmpresa img{
	  width: 20%;
	  height: 70%;
	}
	.login-container{
		width: 40%;
	}
	
  }
  @media only screen and (max-width: 880px) {
	.container2{
	  flex-direction: column;
	  align-items: center;
	}
	.box{
	  width: 50%;
	}
	.usuari{
	  margin: 0px;
	}
	.container1{
	  background-size: cover;
	}
	.container3{
	  flex-direction: column;
	  
	}
	.registrate{
	  margin-bottom: 50px;
	}
	.avion{
	  width: 90%;
	  height: 180px;
	}
	.avioneta{
	  width: 90%;
	  height: 180px;
	  
	}
	.usuaris{
	  flex-direction: column;
	  align-items: center;
	}
	.usuari{
	  width: 90%;
	}
	.rutesApuntat{
	  width: 90%;
	}
	.formulariOrg{
	  display: flex;
	  flex-direction: column;
	}
	textarea{
	  margin-left: 0px;
	}
	.enviar{
	  margin: 30px 10px 10px 0px;
	  width: 100px;
	}
	label{
	  margin-left: 0px;
	}
	form{
	  display: flex;
	  flex-direction: column;
	}
	label{
	  text-align: left;
	}
	input{
	  width: 80%;
	}
	nav{
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	}
	.buscadorUL{
	  padding: 10px 0px;
	  margin: 0px;
	}
  }
  @media only screen and (max-width: 630px) {
	.botoRuta{
	  padding: 5px 20px;
	  font-size: 1em;
	}
	.crearRuta{
	  width: 50%;
	}
	.caixa{
	  width: 160px;
  
	}
	.caixa p{
	  font-size: 0.8em;
	}
	.botoSaber{
	  padding: 3px 20px;
	  font-size: 0.8em;
	}
	.login-container{
		width: 60%;
		padding: 30px;
	}
  }
  @media only screen and (max-width: 550px) {
	.logo img{
	  max-height: 50px;
	}
	nav a{
	  font-size: 1.2em;
	}
	nav{
	  display: flex;
	  justify-content: flex-start;
	}
	nav ul{
	  margin: 0px;
	  padding: 0px;
	  font-size: 1em;
	}
	nav li{
	  margin: 0px;
	}
	.descargaApp p{
	  width: 200px;
	}
	.footer{
	  flex-direction: column; 
	}
	.box{
	  width: 80%;
	}
	.apuntat{
	  flex-direction: column;
	  align-items: center;
	  justify-content: space-around;
	  margin: 10px 0px;
	}
	.caixa{
	  margin: 10px 0px;
	}
  }
  
  @media only screen and (max-width: 450px) {
	nav{
	  width: 100%;
	}
	nav a{
	  font-size: 1em;
	}
  
	.logo img{
	  max-height: 30px;
	}
	.logo p{
	  font-size: 1.1em;
	  width: 200px;
	}
	.inici p{
	  margin: 0px;
	}
	.nomEmpresa img{
	  width: 45%;
	  height: 50%;
	}
  }